# OS
.DS_Store

# IDE
.vscode/
.idea/

# Claude
.claude/

# Backend
backend/inventory.db
backend/uploads/
backend/server
backend/brunocollective_inventory
backend/node_modules/

# Frontend
frontend/node_modules/
frontend/dist/
